@{
    ViewData["Title"] = "Імпорт міст";
}
<h1>Імпорт</h1>
<div>
    <h3>Оберіть Excel-файл для завантаження</h3>
    @using (Html.BeginForm("Import", "Cities", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div class="mb-3">
            Завантажте Excel-файл:
            <input type="file" name="fileExcel" id="fileExcel" class="form-control mt-2" />
        </div>
        <div>
            <input type="submit" value="Завантажити" class="btn btn-primary" />
        </div>
    }
</div>